.features {
  &-list {
    display: flex;
    margin-right: -30px;
  }
  &-text {
    color: $paragraph-color;
    font-size: 14px;
    line-height: 1.7;

    margin-top: 10px;
  }
  &-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: $main-line-height;
    text-transform: uppercase;
    margin-top: 30px;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: $background-portfolio-color;
    border-radius: 4px;
  }
}
.features-list__item {
  width: calc((100% / 4) - 30px);
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
