.offer {
  background-color: $background-color;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
  &-conteiner {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
  }
  &-title {
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    width: 696px;

    margin-left: auto;
    margin-right: auto;

    text-transform: uppercase;
  }

  &-btn {
    width: 216px;
    height: 50px;
    font-family: inherit;
    color: $white-color;
    background-color: $second-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    border-radius: 4px;
    border-color: transparent;

    margin-top: 40px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.offer-btn {
  &:hover,
  &:focus {
    background-color: $bnt-hover-color;
  }
}
