.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-color;
  &-conteiner {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      flex-wrap: wrap;
      align-items: baseline;
      padding-left: 76px;
      padding-right: 76px;
    }
  }
  &-logo {
    font-family: 'Raleway', sans-serif;
    color: $second-color;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    display: block;
  }

  &-span {
    color: $white-color;
  }
  &-contact {
    color: $paragraph-color;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
  }
  &-first {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
      text-align: start;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  &-list {
    margin-top: -9px;
    &__items {
      &:not(:first-child) {
        margin-top: 9px;
      }
    }
  }
}
.info {
  font-style: normal;
  margin-top: 20px;
}

.google-map {
  font-size: 14px;
  line-height: 1.7;
  color: $white-color;
  text-decoration: none;
}
