$second-color: #2196f3;
$paragraph-color: #757575;
$background-color: #2f303a;
$background-team-color: #2f303a;
$background-portfolio-color: #f5f4fa;
$background-portfolio-main-color: #f5f5f5;
$white-color: #ffffff;
$black-color: #000000;
$main-color: #212121;
$border-color: #ececec;
$bnt-hover-color: #188ce8;
$icon-main-color: #afb1b8;
$footer-icon-color: #44454e;

$main-line-height: 1.17;
